<div class="vertical-center">
  <div class="container-fluid">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 cp">
      <h3>Политика конфиденциальности для пользователей приложения "Wise Rider"</h3>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>


